/* Wapmotors Web General Style Sheet  */
*{ margin:0; padding:0; font-family:verdana, arial, sans-serif; text-decoration: none; }
#main{
  max-width:1240px;
  min-width: 769px;
  margin-left:auto;
  margin-right:auto;
}
#main #title{ padding:2px 0 0 12px; font-size:21px; }
#main #slogan{
  padding:0 12px;
  color:#A8A8A8;
  font-size: 18px;
}

#main_menu{
  padding:7px 12px 4px 12px;
  font-size:11px;
  height: 18px;
  margin: 3px 0;
  background: #eee none repeat scroll 0 0;
  position: relative;
}
#main_menu ul.left{
  float: left;
  list-style:none;
  border-width: 0;
}
#main_menu ul li{
  display:inline;
  margin-right:7px;
}
#main_menu ul li:hover{
  text-decoration:underline;
  cursor:pointer;
}
#main_menu a.cadastro{

  float:right;
  display: block;
  color:blue;
  font-weight:bold;
}
/**/
#social_menu{
  float:right;
  padding: 3px 11px;
  text-align: right;
  width: 1024px;
}
#social_menu img{
  margin:0;
  border:0;
}

.hr_1{
  color:green;
  margin:0;
}
#main div#footer p{
  text-align: center;
  color:#888a85;
  font-size: 10px;
  padding:5px;
  width: 100%;
  float: left;
  border:1px dashed #777;
}
fieldset legend{
  border:1px solid #777; padding:4px 5px; margin-left:20px;
  font-family:Verdana,Arial,Helvetica,sans-serif;
}
form p{ margin:10px 5px;}
form p label{ float:left; width:170px; text-transform:capitalize; }
form p input{ border:1px solid #555; }
div.erro{ color:#fff; background-color:#c00;padding:5px; font-weight:bold; }
div.log{ color:#fff; background-color:#0a0;padding:5px; font-weight:bold; }